
/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

h1, h2, h3 {
  font-family: 'Georgia', serif;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
}

.boton {
  background-color: #555;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #777;
  cursor: pointer;
}

/* Animaciones de Entrada */
#bienvenida {
  text-align: center;
  margin: 50px;
}

.revelacion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

#cerrar-revelacion {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
}

#cerrar-revelacion:hover {
  background-color: #666;
}

/* Estilos para las invocaciones */
#ritual {
  margin: 30px;
}

#ritual form input, #ritual form select, #ritual form textarea {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 5px;
}

#ritual form button {
  padding: 10px 20px;
  background-color: #555;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#ritual form button:hover {
  background-color: #777;
}

/* Estilo de las invocaciones */
#invocaciones {
  margin-top: 20px;
}

.invocacion {
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.invocacion p {
  margin: 0;
  font-size: 1rem;
}

.imagen-galeria img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.imagen-galeria img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

